@import "../index.scss";

.MainPage {
  width: 500px;
  height: 90vh;
  border: 3px solid $gray;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}
