:root {
  // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

@font-face {
  font-family: "CandyBeans";
  src: url("./assets/fonts/Candy\ Beans.otf");
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "CandyBeans";
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url(../src/assets/images/main_background.jpg);
  background-color: #006d52;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// colors

$white: #eee;
$light-gray: #aaa;
$gray: #888;
$dark-gray: #333;
$black: #111;
$green: #00cc00;
$yellow: #cccc00;
$pink-red: #ff3333;
